/*----------------------------------*\
    Element Visibility
\*----------------------------------*/
/*
	Element Visible
*/
/* "display: none;" for all visible classes */
[class*=" show-"],
[class^="show-"] {
  display: none !important;
}
$display: (
        flex,
        block,
        //inline,
        //inline-block
);
/* Override none property with appropriate one (flex, block, inline, inline-block). Use it as "show-xs-flex" */
@each $class, $point in $breakpoints-down {
  @media #{$point} {
    @each $property in $display {
      .show-#{$class}-#{$property} {
        display: $property !important;
      }
    }
  }
}
/*
	Element Hidden
*/
/* Add "display: none;" to the appropriate breakpoint. Use it as "hide-xs" */
@each $class, $point in $breakpoints-down {
  @media #{$point}{
    .hide-#{$class} {
      display: none !important;
    }
  }
}