/*----------------------------------*\
    color variables
\*----------------------------------*/

/* color variables */
$color-white: #fff;
$color-black: #000;
$color-orange: #dd7815;
$color-grey-dark: #404040;
$color-grey-light: #8b8b8b;
$color-blue-light: #71ff05;
$color-blue-dark: #6ac30b;
//$color-blue-light: #57d8ef;
//$color-blue-dark: #2eb9e7;
/* colors you want to include in text and background */
$colors: (

        'white': $color-white,
        'orange': $color-orange,
        'grey': $color-grey-dark,

);


/* percentage of darkening color */
$darken: 5%;
/* percentage of lightening color */
$lighten: 8%;