/*----------------------------------*\
    color variables
\*----------------------------------*/

/* color variables */
$color-white: #fff;
$color-black: #000;
$color-orange: #dd7815;
$color-grey-dark: #404040;
$color-grey-light: #8b8b8b;
$color-grey-lighter: #f5f4f2;
$color-green-light: #53d44c;
$color-green-dark: #4dbc46;
//$color-blue-light: #57d8ef;
//$color-blue-dark: #2eb9e7;
/* colors you want to include in text and background */
$colors: (

        'white': $color-white,
        'black': $color-black,
        'orange': $color-orange,
        'grey': $color-grey-lighter,
        'green': $color-green-dark,
        'grey-dark': $color-grey-dark,

);


/* percentage of darkening color */
$darken: 5%;
/* percentage of lightening color */
$lighten: 8%;