/*----------------------------------*\
    font variables
\*----------------------------------*/


/* importing font */

/* Font Families */
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-tertiary: "";

/* Font Weights */
$light: 400;
$normal: 600;
$bold: 900;