/*----------------------------------*\
    grid variables
\*----------------------------------*/


/* number of columns */
$grid: 12;

/* column padding */
$padding: 15px;

/* container spacing */
$container-space: 0px;

/* breakpoints */
$breakpoints: (
        'xs': $default,
        'sm': $sm-up,
        'md': $md-up,
        'lg': $lg-up
);
$breakpoints-down: (
        'xs': $xs-down,
        'sm': $sm-down,
        'md': $md-down,
       // 'lg': $lg-down
);