/*----------------------------------*\
    headings variables
\*----------------------------------*/

/*
$md-down = less than 1200px
$sm-down = less than 992px
$xs-down = less than 768px
 */

$headings: (
        'h1, .h1':
        (       /* h1 */
                $default: 80px,
                //$md-down: px,
                $sm-down: 60px,
                //s$xs-down: px

        ),
        'h2, .h2':
        (       /* h2 */

                $default: 60px,
                //$md-down: px,
                $sm-down: 48px,
                //s$xs-down: px

        ),
        'h3, .h3':
        (       /* h3 */

                $default: 46px,
                //$md-down: px,
                $sm-down: 32px,
                //s$xs-down: px

        ),
        'h4, .h4':
        (       /* h4 */

                $default: 32px,
                //$md-down: px,
                $sm-down: 28px,
                //s$xs-down: px

        ),
        'h5, .h5':
        (       /* h5 */

                $default: 24px,
                //$md-down: px,
                //$sm-down: px,
                //s$xs-down: px

        ),
        'h6, .h6':
        (       /* h6 */

                $default: inherit,
                //$md-down: px,
                //$sm-down: px,
                //s$xs-down: px

        )
);