/*----------------------------------*\
    Event
\*----------------------------------*/
.event{
    &__date{
        position: absolute;
        top: 0;
        right: 0;
        span{
            font-size: 20px;
        }
    }
}