/*----------------------------------*\
    Footer
\*----------------------------------*/
.footer {
    background-color: black;
    color: #aaaaaa;
    svg{
        path{
            fill:#8b8b8b;
            @include transition();
        }
        &:hover{
            path{
                fill: #fff;
            }
        }
    }
    a{
        font-weight: 300;
        color: #aaaaaa;
        @include transition();
        &:hover{
            color: white;
        }
    }
    .copyright{
        border-top: solid 1px #8b8b8b;
    }
}
