@@include(markdown('head.html'))

<header class="header admin">
    <div class="container">
        <div class="flex flex--right flex--middle header__box">
            <nav class="header__links flex flex--middle">
                <ul class="flex">
                    <li><a href="dogodki.html" class="text-uppercase">Dogodki</a></li>
                    <li><a href="novice.html" class="text-uppercase">Novice</a></li>
                    <li><a href="vodstvo.html" class="text-uppercase">Vodstvo</a></li>
                    <li><a href="sponzorji.html" class="text-uppercase">Sponzorji</a></li>
                    <li><a href="galerija.html" class="text-uppercase">Multimedija</a>
                        <ul>
                            <li><a href="galerija.html">Galerija</a></li>
                            <li><a href="videoposnetki.html">Videoposnetki</a></li>
                        </ul>
                    </li>
                    <li><a href="kontakt.html" class="text-uppercase">Odjava</a></li>
                </ul>
            </nav>
            <button class="header__btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
