<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- page details -->
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Gasper Grom">

		<!-- visual info -->
		<title></title>
		<link rel="icon" type="image/x-icon" href="">
		<meta name="theme-color" content="#161616">
		<!-- css -->
		<link href="../styles/main.css" rel="stylesheet">


	</head>
	<body>
		<main>
