/*----------------------------------*\
    globals
\*----------------------------------*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    overflow-x: hidden;
    line-height: 1.2;
    color: $color-grey-dark;
    background-color: #f2f3f4;
    font-size: 17px;
    font-family: $font-primary;
    text-align: justify;
}
::selection{
    color: $color-black;
    background-color: $color-green-dark;
}
.relative{
    position: relative;
}
button, input
section {
    position: relative;
    font-family: $font-primary;
}
iframe {
    border: 0;
}
main {
    display: block;
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
li {
    display: block;
}
dl {
    margin-top: 0;
    margin-bottom: 0;
}
dd {
    margin-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    margin: 0;
    font-weight: $bold;
}
i {
    font-weight: $normal;
}
blockquote {
    margin: 0;
    padding: 0;
}
sup {
    position: relative;
    top: -.5em;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
}
strong {
    font-weight: bold;
}
figure {
    margin: 0;
}
img {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-transform: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
    overflow: visible;
    &:focus {
        outline: 0;
    }
}
form {
    width: 100%;
}
p {
    margin: 0 0 10px;
}
::-moz-focus-inner {
    border: 0;
    padding: 0;
    outline: 0;
}
:focus {
    outline: 0;
}
.overflow {
    overflow: hidden;
}
/* Elements have padding and border included in the element's total width and height */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vh100{
    min-height: 100vh;
    height: 100%;
}
.vh50{
    min-height: 50vh;
}
.loading {
    height: 60px;
    width: 60px;
    border-top: 7px solid transparent;
//    border-bottom: 7px solid $color-green;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-radius: 50%;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-name: a;
    -webkit-animation-name: a;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}



input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.width100{
    width: 100%;
}
.height100{
    height: 100%;
}