@@include(markdown('includes/header.html'))

<section>
	<form data-ajax method="get" action="news.html" novalidate>
		<input type="text" name="username" data-required="prosim vnesi uporabniško ime">
		<input type="url" name="email" data-required="prosim vnesi email" data-invalid="email ni pravilen">
		<input type="password" name="pass">
		<button class="btn btn--round btn__default">submit</button>
	</form>
</section>
<div class="popup__overlay flex flex--center flex--middle" data-error-popup>
	<div class="popup bg--white" data-error data-error-text>
		
	</div>
</div>
@@include(markdown('includes/footer.html'))
