@@include(markdown('includes/header.html'))

<section class="vh50 bg--image"
         style="background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/bg2.jpg')  no-repeat center; background-size: cover"></section>

<section>
    <div class="container pt45 pb60">
        <h1 class="text-center h2 text-uppercase">Naslov albuma</h1>
        <hr>
        <div class="flex lightgallery" id="lightgallery">
            <a href="images/bg2.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg2.jpg')"></div>
            </a>
            <a href="images/bg.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg.jpg')"></div>
            </a>
            <a href="images/bg2.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg2.jpg')"></div>
            </a>
            <a href="images/bg.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg.jpg')"></div>
            </a>
            <a href="images/bg2.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg2.jpg')"></div>
            </a>
            <a href="images/bg.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg.jpg')"></div>
            </a>
            <a href="images/bg2.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg2.jpg')"></div>
            </a>
            <a href="images/bg.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg.jpg')"></div>
            </a>
            <a href="images/bg2.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg2.jpg')"></div>
            </a>
            <a href="images/bg.jpg" class="col-md-3 pb30">
                <div class="quadric--medium bg--image" style="background-image: url('images/bg.jpg')"></div>
            </a>
        </div>
    </div>
</section>

@@include(markdown('includes/footer.html'))
