@@include(markdown('includes/header.html'))


<section class="bg--image vh100 flex flex--center flex--middle pl150 pr150" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/bg.jpg')  no-repeat center; background-size: cover">
    <h1 class="text-center text--white">Slovensko središče rokometa</h1>
</section>
<section>
    <div class="container pb150 pt45">
        
        
        <h2 class="text-center">About</h2>
        <hr>
        <div class="pt20 pb10 pl15 pr15 bg--white box wow slideInUp" >
            <div class="flex">
                <div class="col-md-3 pr0 mb10 pl0-sm">
                    <input type="text" placeholder="Ime in Priimek">
                </div>
                <div class="col-md-3 pr0 mb10 pl0-sm">
                    <input type="text" placeholder="Email">
                </div>
                <div class="col-md-4 pr0 mb10 pl0-sm">
                    <input type="text" placeholder="Tel">
                </div>
                <div class="col-md-2 mb10 flex flex--center">
                    <button class="btn btn__default btn--full text-center" data-popup="popup">click</button>
                </div>
            </div>
            
        </div>
        <div class="flex flex--center">
            <div class="owl-carousel owl-theme pt60 wow slideInUp col-md-4" >
                <div class="item box"><h4>1</h4></div>
                <div class="item box"><h4>2</h4></div>
                <div class="item box"><h4>3</h4></div>
                <div class="item box"><h4>4</h4></div>
            </div>
        </div>
        
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
        <div class="pt150 pr150 wow fadeInUp box mt30" >
            test
        </div>
    </div>
</section>
<div class="popup__overlay flex flex--center flex--middle" id="popup">
    <div class="popup bg--white">
        asdsad
    </div>
</div>
@@include(markdown('includes/footer.html'))
