@@include(markdown('includes/header.html'))

<section class="vh50 bg--image" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/bg2.jpg')  no-repeat center; background-size: cover"></section>

<section>
	<div class="container pt45 pb60">
		<h1 class="text-center h2 text-uppercase">Rokomet v Sloveniji</h1>
		<hr>
		<div class="flex flex--center">
			<div class="col-md-10">
				<p>
					Rokomet v Sloveniji velja za najbolj uspešen kolektivni šport v zgodovini države. Izvaja se pod okriljem Rokometne zveze Slovenije, krovne športne organizacije na področju rokometa v Sloveniji. Trenutni predsednik zveze je gospod Franjo Bobinac.
					<br><br>Zveza je bila ustanovljena konec leta 1949 v okviru takratne Rokometne zveze Jugoslavije. Prvi predsednik RZS je bil Vlado Žorž, takrat pa je v Sloveniji delovalo že šest rokometnih klubov: Kladivar - Celje, Polet - Maribor, Enotnost - Ljubljana in še trije klubi na Ptuju, Lendavi in Murski Soboti. Kasneje je rokomet pritegnil vedno večje število privržencev in leta 1975 je bilo v Sloveniji registriranih že več kot 100 moških in ženskih klubov. Prvo republiško prvenstvo v velikem rokometu se je v konkurenci šestih ekip začelo leta 1949 in prvi naslov so osvojili Celjani. Zanimanje za veliki rokomet pa je v petdesetih letih počasi upadalo. Praktično vse ekipe so se v nekaj mesecih preusmerile k malemu rokometu, ki je postajal vedno bolj množičen. V sezoni 1952/53 je bilo odigrano prvo republiško prvenstvo v malem rokometu, leta 1967 pa prvo pokalno tekmovanje.
					<br><br>Po osamosvojitvi Slovenije leta 1991 se je osamosvojila tudi Rokometna zveza Slovenije (RZS) ter že naslednje leto postala enakopravni član evropske (EHF) in mednarodne (IHF) rokometne zveze. V sezoni 1991/92 je bilo odigrano prvo državno prvenstvo v samostojni Sloveniji, prvi državni prvaki so med moškimi postali igralci rokometnega kluba Celje Pivovarna Laško in med ženskami igralke kluba Belinka Olimpija. Po osamosvojitvi so bile oblikovane tudi državne reprezentance v več kategorijah, ki so začele nastopati na evropskih in svetovnih tekmovanjih, slovenski klubi pa so se v sezoni 1992/93 prvič pojavili v tekmovanju vseh evropskih klubov.
				</p>
			</div>
		</div>
	</div>
</section>

@@include(markdown('includes/footer.html'))
