@@include(markdown('includes/header.html'))

<section class="vh50 bg--image" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/bg2.jpg')  no-repeat center; background-size: cover"></section>

<section>
	<div class="container pt45 pb60">
		<h1 class="text-center h2 text-uppercase">Mladi in rokomet</h1>
		<hr>
		<div class="flex flex--center">
			<div class="col-md-10">
				<p>
					Rokomet je prav zagotovo eden izmed najuspešnejši športov v Sloveniji. Mladi rokometaši si pričnejo nabirati izkušnje že v osnovni šoli, kjer Rokometna zveza Slovenije vodi osnovnošolska tekmovanja, organizira rokometno taborjenje in izvaja projekt »Rokomet moja igra«, vse z namenom navduševanja in izobraževanja najmlajših rokometnih igralcev in igralk. Nekateri od njih pa potem nadaljujejo svojo športno pot preko klubskih struktur in se tudi vključijo v vrhunski šport.
					<br><br>Športno pot je možno nadaljevati tudi preko rokometnih oddelkov na določenih gimnazijah ali srednjih šolah, ki ponujajo izobrazbo v športni panogi in vstop na večja športna tekmovanja. Med srednjimi šolami poteka šolsko državno tekmovanje, ki vodi naprej do mednarodnega srednješolskega svetovnega prvenstva.
					<br><br>Poleg šolskega izobraževanje pa vsak slovenski rokometni klub vzdržuje in vodi svojo rokometno šolo, ki je neodvisna od Rokometne zveze Slovenije in temelji bolj na domačem znanju ter se bolj posveti nadgradnji rokometnega znanja in spoznavanju klubskih obveznosti in tekmovanj.
					<br><br>V primeru interesa po vključitvi otroka v rokometno šolo ali lokalni rokometni klub se lahko interesenti obrnejo na Rokometno zvezo Slovenije (<a href="http://www.rokometna-zveza.si">www.rokometna-zveza.si</a>) ali poiščejo informacije v rokometnem klubu v lokalnem okolju ali v osnovni ali srednji šoli lokalnega okoliša.
				</p>
			</div>
		</div>
	</div>
</section>

@@include(markdown('includes/footer.html'))
