@@include(markdown('includes/header.html'))

<section class="parallax-window vh50 flex flex--center flex--middle" data-parallax="scroll"
         data-image-src="images/bg2.jpg"></section>

<section>
	<div class="container pt45 pb60">
		<div class="row">
			<div class="col-md-9">
				<h1 class="text-center h2">Ime eventa</h1>
				<hr>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula in sem ac laoreet. Nulla at
					lacus fermentum, scelerisque tellus in, interdum enim. Vestibulum id sagittis sapien, sed aliquet
					ex. Proin mattis dictum auctor. Proin porttitor laoreet interdum. Fusce nec mattis sem, ac auctor
					ligula. Ut eu sagittis sapien. Duis euismod faucibus nisi quis pellentesque. Vivamus vestibulum,
					quam vel convallis semper, nisi orci semper ipsum, quis eleifend purus sapien eget velit. Maecenas
					nec mattis augue. Curabitur vel vehicula sem. Lorem ipsum dolor sit amet, consectetur adipiscing
					elit.
					
					Quisque quis gravida nulla, nec tincidunt nunc. Pellentesque scelerisque mauris ut ante tristique,
					quis hendrerit elit dapibus. Vivamus commodo nunc sed turpis bibendum, in scelerisque mauris
					aliquam. Donec aliquam tincidunt leo, a fermentum turpis mollis tempus. Fusce sollicitudin quis quam
					id pharetra. Curabitur et venenatis eros, at ornare odio. Aliquam aliquet ipsum non gravida iaculis.
					Phasellus mollis ligula eget urna aliquam, a congue eros pellentesque. Maecenas congue vel mi in
					ultrices. Proin rutrum tempor odio, eget pharetra ante convallis non. Mauris nunc elit, ornare ut
					vulputate ac, consequat quis nisi. Cras facilisis suscipit mauris, eget consectetur augue tincidunt
					sit amet. Nulla facilisi. Cras tempor feugiat elit eget vehicula. Proin tincidunt augue vitae tellus
					rutrum scelerisque. Quisque viverra tincidunt ornare.
					
					Nulla commodo eros tristique pulvinar suscipit. Fusce ac ipsum pellentesque, ultrices magna id,
					consequat risus. Aliquam egestas et purus finibus porta. Fusce non porttitor lectus, quis facilisis
					odio. Donec sit amet mauris eget ligula pretium bibendum. Nullam convallis velit non consequat
					efficitur. Aenean ornare sed ex quis fermentum. Nam fermentum nulla vel feugiat venenatis. Etiam ac
					accumsan felis. Morbi vitae nisi risus. Nunc commodo eu est vitae maximus. Nulla varius, augue vitae
					consequat blandit, velit lorem sodales dolor, et iaculis odio libero at ligula. Phasellus interdum
					est nulla. Aliquam commodo arcu aliquam congue tempor. Maecenas eget nisl neque. Fusce ac ex leo.
					
					Aenean lacinia eros sit amet convallis placerat. Suspendisse potenti. Integer nec eros lacinia,
					elementum dui placerat, consectetur tortor. Nulla vitae feugiat metus. Praesent at sem vel felis
					convallis faucibus sed in nisi. Suspendisse potenti. Aenean condimentum, eros ut convallis
					imperdiet, mauris dolor efficitur felis, sed aliquam lacus neque a lectus. Sed pulvinar odio purus,
					sit amet dapibus risus tincidunt vel. Ut at leo urna. Etiam hendrerit placerat velit vitae
					vulputate.
					
					Donec aliquam sodales lorem, a aliquet augue tristique ut. Aliquam neque nunc, fermentum et quam
					pharetra, elementum rutrum ligula. Sed quis laoreet dolor. Duis non odio vulputate, tincidunt erat
					sed, tempor quam. Proin a ante quis nisl rutrum rutrum eu eu neque. Integer ac odio nunc. Phasellus
					ut tristique risus, et gravida mi. Donec porttitor lacus quis eros gravida sagittis. Integer nisi
					augue, blandit pulvinar efficitur eget, consequat in sapien.
				</p>
			</div>
			<div class="col-md-3 pt60">
				<div class="box">
					<div class="bg--gradient">
						<h3 class="text-center text--white">70€</h3>
					</div>
					<div class="flex flex--center pt20 pb20">
						<button class="btn btn__default btn--round" data-popup="prijava">
							Prijava
						</button>
					</div>
				</div>
			
			</div>
		</div>
	
	</div>
</section>

<div class="popup__overlay flex flex--center flex--middle" id="prijava">
	<div class="popup bg--white">
		<div class="bg--gradient pl15 pr15 pt10 pb10">
			<h4 class="text--white">Prijava na dogodek</h4>
		</div>
		<form class="pt20 pl15 pr15 pb20">
			<div class="flex flex--column">
				<label class="radio flex flex--middle mb10">
					<input type="checkbox" name="answer" value="b">
					<span class="mr10"></span>
					test
				</label>
				<label class="radio flex flex--middle mb10">
					<input type="checkbox" name="answer" value="b">
					<span class="mr10"></span>
					test
				</label>
			</div>
			
			<input type="text" placeholder="Ime in priimek" class="box">
		</form>
	</div>
</div>
@@include(markdown('includes/footer.html'))
