@@include(markdown('includes/header.html'))

<section class="vh50 bg--image" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/4.jpg')  no-repeat center; background-size: cover"></section>

<section>
	<div class="container pt45 pb60">
		<h1 class="text-center h2 text-uppercase">Navijaško središče</h1>
		<hr>
		<div class="flex flex--center">
			<div class="col-md-10">
				<p>
					Slovenska rokometna reprezentanca se je z uspešnimi igrami uvrstila na Evropsko rokometno prvenstvo 2018, ki ga bo gostila Hrvaška. Slednje je vsekakor izjemna priložnost za množično podporo in obisk slovenske športne in poslovne javnosti na Hrvaškem. Slovenija bo svoje nastope začela v skupini z Nemčijo, Makedonijo in Črno goro, in sicer v mestu Zagreb.
					<br><br>Rokometna zveza Slovenije bo v času Evropskega rokometnega prvenstva 2018 na Hrvaškem s partnerji vzpostavila Slovensko središče – I feel Slovenia. Organizacijska entiteta projekta je v enem delu namenjena tudi navijačem slovenske rokometne reprezentance.
					<br><br>
					Navijaško-družabno središče bo v enem izmed lokalov v centru mesta Zagreb in bo namenjeno zbiranju in druženju navijačev slovenske rokometne reprezentance. Namen vzpostavitve slednjega je povezan z vidikom povezovanja in druženja navijačev Slovenije na eni lokaciji.

				</p>
			</div>
		</div>
	</div>
</section>

@@include(markdown('includes/footer.html'))
