@@include(markdown('includes/header.html'))

<section class="vh50 bg--image" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/bg2.jpg')  no-repeat center; background-size: cover"></section>

<section>
	<div class="container pt45 pb60">
		<h1 class="text-center h2">Vodstvo in ekipa</h1>
		<hr>
		<div class="flex flex--center">
			<div class="col-md-10">
				<div class="row flex--center">
					<div class="col-md-4 pb60">
						<div class="quadric bg--image" style="background-image: url('images/bg.jpg')"></div>
						<h5 class="text-center text--black pt20"><b>g. Franjo Bobinac</b></h5>
						<p class="text-center">predsednik RZS</p>
					</div>
					<div class="col-md-4 pb60">
						<div class="quadric bg--image" style="background-image: url('images/bg.jpg')"></div>
						<h5 class="text-center text--black pt20"><b>g. Boštjan Kozole</b></h5>
						<p class="text-center">predsednik RZS</p>
					</div>
					<div class="col-md-4 pb60">
						<div class="quadric bg--image" style="background-image: url('images/bg.jpg')"></div>
						<h5 class="text-center text--black pt20"><b>g. Franjo Bobinac</b></h5>
						<p class="text-center">predsednik RZS</p>
					</div>
					<div class="col-md-4 pb60">
						<div class="quadric bg--image" style="background-image: url('images/bg.jpg')"></div>
						<h5 class="text-center text--black pt20"><b>g. Franjo Bobinac</b></h5>
						<p class="text-center">predsednik RZS</p>
					</div>
					<div class="col-md-4 pb60">
						<div class="quadric bg--image" style="background-image: url('images/bg.jpg')"></div>
						<h5 class="text-center text--black pt20"><b>g. Franjo Bobinac</b></h5>
						<p class="text-center">predsednik RZS</p>
					</div>
					<div class="col-md-4 pb60">
						<div class="quadric bg--image" style="background-image: url('images/bg.jpg')"></div>
						<h5 class="text-center text--black pt20"><b>g. Franjo Bobinac</b></h5>
						<p class="text-center">predsednik RZS</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@@include(markdown('includes/footer.html'))
