@@include(markdown('includes/header.html'))

<section class="vh50 bg--image" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/bg2.jpg')  no-repeat center; background-size: cover"></section>

<section>
	<div class="container pt45 pb60">
		<h1 class="text-center h2 text-uppercase">Slovensko središče</h1>
		<hr>
		<div class="flex flex--center">
			<div class="col-md-10">
				<p>
					Prestižni mednarodni športni dogodki se vse pogosteje izkoriščajo za številna poslovna sodelovanja oziroma za organizacijo vzporednih poslovnih aktivnosti, ki so organizirane ob športnih prireditvah. V želji, da se Slovenija v okviru večjih rokometnih prvenstev predstavi kot povezana celota je Rokometna zveza Slovenije v sodelovanju s slovenskimi partnerji vzpostavila tako imenovano Slovensko središče - I feel Slovenia. Slovensko središče predstavlja poslovno in družabno središče (center) oziroma prostor za gospodarska, politična, kulturna, družabna, medijska in športna srečevanja.
					<br><br>
					Namen organiziranja in vzpostavitve takšnega središča je učinkovita promocija države Slovenije, v okviru le-te pa tudi slovenskega gospodarstva in možnosti poslovnega sodelovanja z gostitelji prvenstva kot tudi vsemi ostalimi zainteresiranimi državami. Cilj Slovenskega središča je, da se (1) doseže poslovno sodelovanje slovenskih in poslovnih subjektov države v kateri je vzpostavljeno poslovno središče ter ostalih gospodarskih subkjetov iz drugih držav, (2) izvede promocija države Slovenije kot celote, (3) na enem mestu združi slovensko in tujo zainteresirano javnost v sklopu večjega rokometnega dogodka (npr. svetovno in evropsko prvenstvo, itd.).
					<br><br>
					Poslovnemu delu oziroma središču projekta »Slovensko središče – I feel Slovenia« se priključuje tudi drugi del, ki je poimenovan »Navijaško-družabno središče« in je namenjen zbiranju in druženju navijačev slovenske rokometne reprezentance ob večjih mednarodnih športnih dogodkih na katerih nastopa slovenska rokometna reprezentanca.
					<br><br>
					Rokometna zveza Slovenije je v sodelovanju s slovenskimi partnerji v okviru Svetovnega rokometnega prvenstva v Katarju leta 2015 in Evropskega rokometnega prvenstva na Poljskem leta 2016 že vzpostavila in realizirala projekt Slovensko središča – I feel Slovenia. V manjši obliki je bilo Slovensko središče vzpostavljeno tudi v Braziliji (Rio de Janiero) leta 2016 v času poletnih olimpijskih iger. Projekt Slovensko središče v Katarju (Doha) in na Poljskem (Wroclav) je bil po opravljeni analizi in na podlagi številnih pozitivnih odzivov ter sklenjenih poslovnih sodelovanj, pozitivno sprejet in v poslovni javnosti prepoznan kot kvaliteten projekt. Na podlagi tega je bila sprejeta odločitev, da Rokometna zveza Slovenije v sodelovanju z ostalimi partnerji vzpostavi in organizira Slovensko središče – I feel Slovenia tudi na Hrvaškem.
				</p>
			</div>
		</div>
	</div>
</section>

@@include(markdown('includes/footer.html'))
