@@include(markdown('includes/header.html'))

<section class="vh50 bg--image" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/bg2.jpg')  no-repeat center; background-size: cover"></section>

<section>
	<div class="container pt45 pb60">
		<h1 class="text-center h2 text-uppercase">Slovenija</h1>
		<hr>
		<div class="flex flex--center">
			<div class="col-md-10">
				<p>
					Republika Slovenija se s svojim ozemljem razprostira na skrajnem jugu Srednje Evrope, na stičišču Alp, Sredozemskega morja, panonskega in dinarskega sveta. S svojo  državno mejo meji na Italijo, Avstrijo, Madžarsko in Hrvaško. Leta 2004 se je Slovenija pridružila Evropski uniji, kasneje vstopila tudi v Schengensko območje in prevzela skupno evropsko valuto, Euro.
					<br><br>
					Glavno mesto, kulturna prestolnica in politično središče države je Ljubljana, mesto, ki stoji na ostankih rimskega imperija. Država svojo strateško pozicijo in izjemno čisto in raznoliko pokrajino izrablja za turizem in tranzitno gospodarstvo. Slovenija je po površini majhna, vendar zelo raznolika država. V Sloveniji živi nekaj čez 2 065 000, ki jih povezuje skupni jezik slovenščina, ki še vedno ohranja dvojino, nacionalna zavednost, kultura in skrb za zeleno in čisto naravo. Država je bogata z naravnimi lepotami. 8% narave je zaščitene kot nacionalni park, prek države tečejo številne izjemno čiste reke in gozdovi (več kot 58% države je prekrite z gozdom), ki omogočajo življenje mnogo živalskim in rastlinskim vrstam. Slovenijo je enostavno, unikatna in krasna.
				
				</p>
			</div>
		</div>
	</div>
</section>

@@include(markdown('includes/footer.html'))
