@@include(markdown('includes/header.html'))

<section class="vh50 bg--image" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/3.jpg')  no-repeat center; background-size: cover"></section>

<section>
	<div class="container pt45 pb60">
		<h1 class="text-center h2 text-uppercase">sodelujoča podjetja in organizacije</h1>
		<hr>
		<div class="flex flex--center">
			<div class="col-md-10 pb45">
					<div class="box bg--white pt30 pb30 pl45 pr45 link--zoom">
						<div class="row">
							<div class="col-sm-6">
								<h4>Gorenje</h4>
								<hr class="ml0">
							</div>
							<div class="col-sm-6">
								<div class="flex flex--right">
									<img src="images/logo.png" style="height: 90px;">
								</div>
							</div>
						</div>

						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non gravida nunc. Vestibulum molestie ligula eget feugiat auctor. Curabitur tempor aliquam dolor sit amet viverra. Duis nec dignissim odio. Maecenas sollicitudin aliquet nisl ac porttitor. Praesent ullamcorper porttitor arcu, id condimentum diam consectetur vitae. Etiam gravida lacinia est eget laoreet. Maecenas at justo eros. Mauris non turpis et arcu ornare sodales ut eu elit. In feugiat lacus vitae diam malesuada, a pretium mi vestibulum. Curabitur sed ultricies enim, ut malesuada nisi. Donec et lacus sed erat hendrerit tincidunt. Donec in molestie massa. Morbi ornare blandit porta. In hac habitasse platea dictumst.
						</p>
					</div>
			</div>
			<div class="col-md-10 pb45">
				<div class="box bg--white pt30 pb30 pl45 pr45 link--zoom">
					<div class="row">
						<div class="col-sm-6">
							<h4>Gorenje</h4>
							<hr class="ml0">
						</div>
						<div class="col-sm-6">
							<div class="flex flex--right">
								<img src="images/logo.png" style="height: 90px;">
							</div>
						</div>
					</div>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non gravida nunc. Vestibulum molestie ligula eget feugiat auctor. Curabitur tempor aliquam dolor sit amet viverra. Duis nec dignissim odio. Maecenas sollicitudin aliquet nisl ac porttitor. Praesent ullamcorper porttitor arcu, id condimentum diam consectetur vitae. Etiam gravida lacinia est eget laoreet. Maecenas at justo eros. Mauris non turpis et arcu ornare sodales ut eu elit. In feugiat lacus vitae diam malesuada, a pretium mi vestibulum. Curabitur sed ultricies enim, ut malesuada nisi. Donec et lacus sed erat hendrerit tincidunt. Donec in molestie massa. Morbi ornare blandit porta. In hac habitasse platea dictumst.
					</p>
				</div>
			</div>
			<div class="col-md-10 pb45">
				<div class="box bg--white pt30 pb30 pl45 pr45 link--zoom">
					<div class="row">
						<div class="col-sm-6">
							<h4>Gorenje</h4>
							<hr class="ml0">
						</div>
						<div class="col-sm-6">
							<div class="flex flex--right">
								<img src="images/logo.png" style="height: 90px;">
							</div>
						</div>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non gravida nunc. Vestibulum molestie ligula eget feugiat auctor. Curabitur tempor aliquam dolor sit amet viverra. Duis nec dignissim odio. Maecenas sollicitudin aliquet nisl ac porttitor. Praesent ullamcorper porttitor arcu, id condimentum diam consectetur vitae. Etiam gravida lacinia est eget laoreet. Maecenas at justo eros. Mauris non turpis et arcu ornare sodales ut eu elit. In feugiat lacus vitae diam malesuada, a pretium mi vestibulum. Curabitur sed ultricies enim, ut malesuada nisi. Donec et lacus sed erat hendrerit tincidunt. Donec in molestie massa. Morbi ornare blandit porta. In hac habitasse platea dictumst.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

@@include(markdown('includes/footer.html'))
