@@include(markdown('includes/header.html'))

<section class="vh50 bg--image" style="background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 100%, rgba(0, 0, 0, 0.35) 100%), url('images/bg2.jpg')  no-repeat center; background-size: cover"></section>

<section>
	<div class="container pt45 pb60">
		<h1 class="text-center h2 text-uppercase">Videoposnetki</h1>
		<hr>
		<div class="flex flex--center">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-4 pb30">
						<div class="quadric--medium bg--image" data-video="http://techslides.com/demos/sample-videos/small.mp4" style="background-image: url('images/bg2.jpg')"></div>
					</div>
					<div class="col-md-4 pb30">
						<div class="quadric--medium bg--image" data-video="images/main.mp4" style="background-image: url('images/bg2.jpg')"></div>
					</div>
					<div class="col-md-4 pb30">
						<div class="quadric--medium bg--image" data-video="http://techslides.com/demos/sample-videos/small.mp4" style="background-image: url('images/bg2.jpg')"></div>
					</div>
					<div class="col-md-4 pb30">
						<div class="quadric--medium bg--image" data-video="images/main.mp4" style="background-image: url('images/bg2.jpg')"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="video__popup flex flex--middle flex--center">
	<div style="position: absolute; top: 0; right: 0;" id="video-close">
		<svg style="width:48px;height:48px" viewBox="0 0 24 24">
			<path fill="#ffffff" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
		</svg>
	</div>
</div>

@@include(markdown('includes/footer.html'))
