@@include(markdown('includes/header.html'))

<section>
    <div class="container pt150 pb60">
        <h1 class="text-center">Naslov albuma</h1>
        <hr>
        <div class="flex flex--center">
            <div class="col-md-8">
                <form>
                    <div class="flex flex--center pb30">
                        <label for="file" class="flex flex--middle">
                            Dodaj slike
                            <input type="file" id="file">
                            <span type="button" class="btn btn--round btn__default flex flex--middle ml20">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#ffffff" d="M9,16V10H5L12,3L19,10H15V16H9M5,20V18H19V20H5Z"/>
                                </svg>
                            </span>
                        </label>
                    </div>

                    <div class="flex flex--center">
                        <button class="btn btn__default btn--round">
                            Dodaj
                        </button>
                    </div>
                </form>

            </div>
            <div class="col-md-12">
                <div class="flex pt60">
                    <div class="col-md-4 mb20">
                        <div class="quadric--medium bg--image" style="background-image: url('../images/1.jpg')">

                        </div>
                        <div class="box pl10 pr10 pt10">
                            <button class="btn btn__default mb10" style="background: #c00">
                                Odstrani
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 mb20">
                        <div class="quadric--medium bg--image" style="background-image: url('../images/1.jpg')">

                        </div>
                        <div class="box pl10 pr10 pt10">
                            <button class="btn btn__default mb10" style="background: #c00">
                                Odstrani
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 mb20">
                        <div class="quadric--medium bg--image" style="background-image: url('../images/1.jpg')">

                        </div>
                        <div class="box pl10 pr10 pt10">
                            <button class="btn btn__default mb10" style="background: #c00">
                                Odstrani
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 mb20">
                        <div class="quadric--medium bg--image" style="background-image: url('../images/1.jpg')">

                        </div>
                        <div class="box pl10 pr10 pt10">
                            <button class="btn btn__default mb10" style="background: #c00">
                                Odstrani
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@@include(markdown('includes/footer.html'))
