@@include(markdown('includes/header.html'))

<section>
    <div class="container vh100 pt20 pb20 flex flex--center flex--middle">
        <div class="col-md-4 col-sm-6">
            <h1 class="h2 text-center">Prijava</h1>
            <hr>
            <form>
                <input name="username" type="text" placeholder="Uporabniško ime" class="inp--round">
                <input name="password" type="password" placeholder="Geslo" class="mt10 inp--round">
                <div class="flex flex--center pt20">
                    <button class="btn btn__default btn--round">Prijava</button>
                </div>
            </form>
        </div>
    </div>
</section>

@@include(markdown('includes/footer.html'))
