@@include(markdown('includes/header.html'))

<section>
  <div class="container pt150 pb60">
    <h1 class="text-center">Novice</h1>
    <hr>
    <div class="flex flex--center">
      <div class="col-md-8">
        <form>
          <input type="text" name="name" placeholder="Naslov novice" class="box mb15">
          <textarea class="box mb15" placeholder="vsebina"></textarea>
          <div class="flex flex--center">
            <button class="btn btn__default btn--round">
              Dodaj
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
@@include(markdown('includes/footer.html'))
