@@include(markdown('includes/header.html'))

<section>
  <div class="container pt150 pb60">
    <h1 class="text-center">Vodstvo</h1>
    <hr>
    <div class="flex flex--center">
      <div class="col-md-8">
        <form>
          <input type="text" name="name" placeholder="Ime in priimek" class="box mb15">
          <input type="text" name="position" placeholder="Pozicija" class="box mb15">
          <div class="flex flex--center pb30">
            <label for="file" class="flex flex--middle">
              Slika osebe
              <input type="file" id="file">
              <span type="button" class="btn btn--round btn__default flex flex--middle ml20">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#ffffff" d="M9,16V10H5L12,3L19,10H15V16H9M5,20V18H19V20H5Z" />
                </svg>
            </span>
            </label>
          </div>

          <div class="flex flex--center">
            <button class="btn btn__default btn--round">
              Dodaj
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
@@include(markdown('includes/footer.html'))
