@@include(markdown('head.html'))

<header class="header">
    <div class="container">
        <div class="flex flex--between flex--middle">
            <a href="." class="header__logo">
                <img src="images/logo.png">
            </a>
            <nav class="header__links flex flex--middle">
                <ul class="flex">
                    <li><a href="">Slovensko središče</a>
                        <ul>
                            <li><a href="#">Predstavitev</a>
                               <ul>
                                    <li><a href="#">Katar</a></li>
                                    <li><a href="#">Poljska</a></li>
                                    <li><a href="#">Brazilija</a></li>
                                    <li><a href="#">Hrvaška</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Vodstvo in ekipa</a></li>
                            <li><a href="#">Poslovno središče</a></li>
                            <li><a href="#">Navijaško središče</a></li>
                            <li><a href="#">Dogodki v Slovenskem središču</a></li>
                        </ul>
                    </li>
                    <li><a href="">Navijači</a>
                        <ul>
                            <li><a href="#">Predstavitev</a></li>
                            <li><a href="#">Dogodki v navijaškem središču</a></li>
                            <li><a href="#">Razpored tekem reprezentance</a></li>
                            <li><a href="#">Vstopnice</a></li>
                            <li><a href="#">Navijaški rekviziti</a></li>
                        </ul>
                    </li>
                    <li><a href="">Slovenija</a>
                        <ul>
                            <li><a href="#">Predstavitev</a></li>
                            <li><a href="#">Poslovno okolje</a></li>
                            <li><a href="#">Turizem</a></li>
                            <li><a href="#">Čutim Slovenijo</a></li>
                        </ul>
                    </li>
                    <li><a href="">Rokomet v sloveniji</a>
                        <ul>
                            <li><a href="#">Predstavitev</a></li>
                            <li><a href="#">Reprezentance</a></li>
                            <li><a href="#">Klubska temovanja</a></li>
                            <li><a href="#">Mladi in rokomet</a></li>
                        </ul>
                    </li>
                    <li><a href="">Multimedija</a>
                        <ul>
                            <li><a href="#">Galerija</a></li>
                            <li><a href="#">Videoposnetki</a></li>
                        </ul>
                    </li>
                    <li><a href="">Kontakt</a></li>
                </ul>
                <a href="#"></a>
            </nav>
            <button class="header__btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
